version: '3.8'
services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: neuro_app
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    environment:
      DATABASE_URL: postgres://user:password@db:5432/neuro_app
    ports:
      - '4311:4311'
    depends_on:
      - db

volumes:
  db_data: {}